.circle {
	position: relative;
	width: 50px;
	height: 50px;
	background-color: transparent;
	margin-left: 10px;
	display: inline-block;
	border-radius: 50%
}

*:focus {
	outline: none;
}

.inactive {
	border: 2px solid black;
	width: 46px;
	height: 46px;
}

.past {
	width: 15px;
	height: 15px;
	margin-left: 5px;
}

.number0 {
	background-color: #3A3485;
}

.number1 {
	background-color: #017FCA;
}

.number2 {
	background-color: #76B716;
}

.number3 {
	background-color: #FFB700;
}

.number4 {
	background-color: #EE6E01;
}

.number5 {
	background-color: #F66A96;
}

.feedback div {
	display: inline-block;
	margin-left: 5px;
}

.feedback.active {
	padding: 20px;
}

.feedback.active .B {
	width: 20px;
	height: 20px;
	background-color: black;
}

.feedback.active .W {
	width: 20px;
	height: 20px;
	background-color: grey;
}

.feedback.active .X {
	width: 10px;
	height: 10px;
	background-color: red;
}


.feedback .B {
	width: 10px;
	height: 10px;
	background-color: black;
}

.feedback .W {
	width: 10px;
	height: 10px;
	background-color: grey;
}

.feedback .X {
	width: 5px;
	height: 5px;
	background-color: green;
}
